<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="posts">
        <% @posts.each do |post|%>
        <h2>... <%=link_to post.title, post_path(id: post.id)%></h2>
        <p><%=post.body%></p>
      <%end%>
    </div>
  </div>
</div>
