  <h1><%=@post.title%></h1>
  <p><%=@post.body%></p>
<%=link_to 'Edit Post', edit_post_path(id: @post.id), class: 'btn btn-default'%>
<%=link_to 'Delete Post', post_path(id: @post.id), method: :delete, class: "btn btn-danger" %>
